<div class="container">
      <h2><%= firstHeadline %></h2>
      <p><%= title %></p>
      
    <form>
        First name:<br>
        <input type="text" name="firstname" require>
        <br>
        Last name:<br>
        <input type="text" name="lastname" require> <br>
        <button id="submitButton">Submit</button>
    </form>

</div>