<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/app.css' />
  </head>
  <body>
    
    <% include partials/header.ejs %>
    <% include partials/content.ejs %>
    <% include partials/footer.ejs %>
    
    <!-- JavaScript Section -->
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/custom.js"></script>
  </body>
</html>
